.first {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3ch;
}

.beats {
    margin-top: 5%;
}

p {
    font-size: 2ch;
}

.cards {
    display: flex;
    gap: 5ch;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 300px;
    /* Set a specific width percentage */
    height: 25ch;
    transition: transform 0.3s ease;

}

.card h2 {
    font-size: 2.5ch;
    margin: 0.5rem 0;
}

.card p {
    font-size: 2ch;
}

.card span {
    font-size: 4ch;
}

.card:hover {
    transform: translateX(-10px) rotate(-5deg);
}

.cards::-webkit-scrollbar {
    /* width: 1px; */
    /* height: 2px; */
    display: none;
    background-color: transparent;
}

.cards::-webkit-scrollbar-thumb {
    background-color: red;
}


/* Adjust card width for smaller screens */
@media screen and (max-width: 1660px) {
    .card {
        flex: 0 0 20%;
        /* Adjust as needed for smaller screens */
    }
}