    .main {
        display: flex;
        flex-direction: column;
        margin-bottom: 3%;
        background-color: rgba(233, 232, 232, 0.493);
        box-shadow: 0px 4px 4px rgb(206, 205, 205);
        width: 100%;
        align-items: center;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .buts {
        width: 10%;
        border: transparent;
        cursor: pointer;

    }

    .buts:hover {
        box-shadow: 0px 0px 10px rgb(244, 199, 199);

    }

    .buts:active {
        background: linear-gradient(320deg, rgb(114, 22, 180), rgb(116, 90, 246), rgb(185, 189, 240));
    }

    .details {
        box-shadow: 0px 0px 10px rgb(195, 195, 245);
        width: 50vh;
        border: white;
        text-align: center;
        height: 5vmin;
        border-radius: 1vmin;
        color: indigo;
    }

    .last {
        width: 100%;
    }

    .foot {
        display: flex;
        justify-content: center;
        gap: 8%;
        /* align-items: center; */

    }

    .foot :nth-child(1) {
        width: 20%;
    }

    .foot :nth-child(2) p {
        width: 100%;
    }