.meet {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 24px;
    /* Adjust the font size */
    color: blue;

}