.orange {
    display: flex;
    margin-top: 8%;
    justify-content: center;
}

.contento {

    display: flex;
    align-items: center;
    width: 80%;
    flex-direction: column;
    gap: 50px;
}

.js {
    display: flex;
    /* background: blue; */
    justify-content: space-between;

}

.desc {
    width: 50%;
    font-size: 20px;
}

.pic img {
    height: 300px;
}