.orange {
    background-color: bisque;
    display: flex;
    padding: 5%;
    font-family: sans-serif;
    margin-left: 6ch;
    margin-top: 10ch;
    width: 80%;
    gap: 4ch;
    /* height: 60vh; */
    border-radius: 4ch;
    margin-bottom: 30ch;
}

img {
    height: 40ch;
}

.hover-scale {
    transition: transform 0.2s ease;
}

.hover-scale:hover {
    transform: scale(1.05);
    /* Scale up the image a bit on hover */
}