.self {
    margin-top: 5%;
    padding-top: 5%;
    height: 100vh;
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 7%;
    flex-direction: column;
    background-color: rgb(245, 245, 255);
}

.contents {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.cardo {
    display: flex;
    width: 60vh;
    background: white;
    height: 15vh;
    box-shadow: 0px 0px 3px black;
    padding: 10%;
    margin-top: 5%;
}

.cardo:nth-child(1):hover {
    background: linear-gradient(20deg, rgb(208, 168, 237), rgb(198, 189, 245), rgb(218, 220, 243));
    box-shadow: 0px 0px 9px black;
}

@keyframes rolling {
    from {
        transform: translateX(-50%);
        opacity: 0%;
    }

    50% {
        opacity: 0%;

    }

    to {
        transform: translateX(0);
    }
}

@keyframes hating {
    from {
        transform: translateX(20%);
        opacity: 0%;
    }

    50% {
        opacity: 0%;

    }

    to {
        transform: translateX(0);
    }


}

.self.animate .oneside {
    animation: rolling 2s;
}

.self.animate .noside {
    animation: hating 2s;
}